<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Main page</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1><span></span></h1>
            </div>
            <h2>Hello!</h2>
            <p>This is a main page of forwarder for my link shortener Telegram bot, you can check out my GitHub to set
                up your
                own bot =)</p>
            <a href="https://github.com/paulyurlov">GitHub</a>
        </div>
    </div>

</body>

</html>