<!doctype html>
<html lang="en" class="{{ 'dark-mode' if session.get('theme') == 'dark' }}">

<head>
    <meta charset=" utf-8">
    <title>pastebin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pastebin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pastebin_code.css') }}">

</head>

<body>
    <div class="theme-switch">
        <form action="/change_theme" method="post">
            <input type="checkbox" name="theme_switch" id="switch" /><label for="switch">Toggle</label>
        </form>
    </div>
    <script>
        async function sendTheme(theme) {
            data = { message: theme };

            const response = await fetch('/change_theme', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
        }

        async function getTheme() {
            const response = await fetch('/get_theme');
            data = await response.json();
            return data.theme
        }


        document.getElementById("switch").addEventListener("click", () => {
            if (getTheme == 'dark') {
                document.body.classList.remove('dark-mode');
                sendTheme("white");
            } else {
                document.body.classList.toggle('dark-mode');
                sendTheme("dark");
            }
        });
    </script>
    <!-- <header>

        kek lol
    </header> -->
    <div class="card">
        {% include 'pastebin_code.html' %}
    </div>
</body>


</html>